.about {
  background: url(../assets/about/about-bg.PNG) no-repeat center;
  background-size: cover;
  position: relative;
  padding: 100px 0;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgb(255, 255, 255), transparent);
    pointer-events: none;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%; /* adjust fade thickness */
    background: linear-gradient(to bottom, white, transparent);
    pointer-events: none;
    z-index: 1;
  }

  .about__title {
    text-align: center;
    font-size: 40px;
    margin-bottom: 80px;
    color: rgb(35, 107, 107);
    position: relative;
    z-index: 5;
  }
  .about__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    position: relative;
    z-index: 10;

    .about__box {
      overflow: hidden;
      height: auto;
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        transition: 0.3s;
        cursor: pointer;
      }
      img:hover {
        transform: scale(1.03);
      }
    }
  }

  .about__box:first-child {
    grid-column: 1/3;
    max-height: 400px;
  }
  .about__box:nth-child(2) {
    grid-column: 3/5;
    grid-row: 1 / span 2;
  }
  .about__box:nth-child(3) {
    grid-column: 1/3;
    max-height: 500px;
  }
  .about__box:nth-child(5) {
    grid-column: 2/4;
  }
}

@media (max-width: 500px) {
  .about {
    .about__wrapper {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 3px;
    }
  }
}

