.youTube {  padding-top: 120px;
  
  .youTube__box {
    margin-bottom: 80px;
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: space-between;
    .youTube__context {
      width: 55%;
      line-height: 1.3;
      h3 {
        font-size: 34px;
        color: rgb(4, 101, 96);
      }
    }
    .youTube__img {
      width: 45%;

      .name__Bottom {
        color: rgb(4, 101, 96);
        p{
            font-size: 12px;
        }
      }
      .youTube__video {
        width: 100%;
      }
    }
  }
}
@media (max-width: 700px) {
  .youTube {
    .you__title {
      text-align: center;
    }
    .youTube__box {
      margin-bottom: 110px;
      display: flex;
flex-direction: column;
      align-items: center;
      gap: 20px;
     
      .youTube__context {
        width: 100%;
        line-height: 1.3;
        margin-bottom: 20px;
        h3{
            font-size: 28px;
        }
      }
      .youTube__img {
        width: 100%;
      }
    }
  }
}
