@import "global";
@import "variable";
@import "imgPopup";
@import "header";
@import "hero";
@import "experience";
@import "self";
@import "study";
@import "about";
@import "videoTrig";
@import "certificate";
@import "leftMenu";
@import "allAnimation";
@import "owl";
@import "youTube";
@import "reception";
@import "footer";
@media (max-width: 700px) {
  .item__title a span {
    font-size: 26px;
    margin-top: 20px;
  }
}

.title-video-you {
  text-align: center;
  font-size: 32px;
  color: rgb(9, 114, 141);
}
.yoqq {
  padding: 100px 0;
  text-align: center;
  display: block;
  font-size: 20px;
  color: rgb(0, 101, 129);
}

#videoContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 18px;
  margin-top: 30px;
}
.video-iframe-you {
  display: block;
  width: 100%;
  height: 280px;
}
.titleyou {
  font-size: 14px;
  margin-top: 10px;
  color: rgb(9, 114, 141);
}
.vvideos {
  margin-bottom: 80px;
  margin-top: 30px;
}
.newbottom {
  padding: 10px 30px;
  border-radius: 10px;
  border: none;
  background: rgb(9, 114, 141);
  color: #fff;
  margin: 0 auto;
  display: block;
  margin-top: 20px;
  transition: 0.3s;
}
.newbottom:hover {
  background: rgb(4, 76, 93);
}

@media (max-width: 780px) {
  #videoContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
   
  }
}
